{% extends "public/layout.html" %}

{% block body %}
    <caption>
    <button id="add_group" class="btn btn-primary" type="button">添加用户组</button>
    </caption>
    <table class="table table-striped">
        <tr>
            <th>#</th>
            <th>用户组名</th>
            <th>操作</th>

        </tr>
        {% for group in object_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ group.name }}</td>
            <td>
                <button class="btn btn-primary btn-sm show_group_users" data='{"gid": "{{ group.id }}", "groupname": "{{ group.name }}"}'>成员列表</button>
                <a class="btn btn-danger btn-sm show_group_users" href="/group/permission/?gid={{ group.id }}" >修改权限</a>
                <button class="btn btn-primary btn-sm show_group_permission" data='{{ group.id }}' >查看权限</button>

            </td>

        </tr>
        {% endfor %}
    </table>
    <div class="panel-default">
        <center>
		<ul class="pagination">
			    <li><a href="/group/list/?page=1">首页</a></li>
                {% if page_obj.has_previous == True %}
                    <li><a href="/group/list/?page={{ page_obj.previous_page_number }}">上一页</a></li>
                {%  else %}

                    <li class="previous disabled"><a>上一页</a></li>
                {% endif %}


                {% for p in page_range %}
                {#% for p in page_obj.paginator.page_range %#}
                    {%  if p == page_obj.number %}
				        <li class="active"><a href="/group/list/?page={{ p }}">{{ p }}</a></li>
                    {% else %}
                        <li><a href="/group/list/?page={{ p }}">{{ p }}</a></li>
                    {% endif %}

                {% endfor %}
                {% if page_obj.has_next == True %}
                    <li><a href="/group/list/?page={{ page_obj.next_page_number }}">下一页</a></li>
                {% else %}
				    <li class="previous disabled"><a>下一页</a></li>
                {% endif %}

			    <li><a href="/group/list/?page={{ page_obj.paginator.num_pages }}">末页</a></li>
		</ul>
	    </center>
    </div>
    <div class="modal fade" id="create_group" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4>添加group</h4>
                </div>
                <div class="modal-body form-inline">
                    <div class="form-group">
                        <label for="exampleInputName2">用户组：</label>
                        <input type="text" class="form-control" id="form_groupname" placeholder="请输入用户组名称" />
                    </div>
                    <button class="btn btn-primary" id="create_group_btn">提交</button>
                </div>
                <div class="modal-footer">
                    <input class="btn btn-default" data-dismiss="modal" aria-hidden="true" type="button" value="取消">
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="modal_show_group_users_list" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4>权限名: <span id="modal_show_group_users_list_title"></span></h4>
                </div>
                <div class="modal-body form-inline" id="modal_show_group_users_content_list">

                </div>
                <div class="modal-footer">
                    <input class="btn btn-default" data-dismiss="modal" aria-hidden="true" type="button" value="确定">
                </div>
            </div>
        </div>
    </div>
        <div class="modal fade" id="modal_show_group_permission_list" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4>用户组名: <span id="modal_show_group_permission_list_title"></span></h4>
                </div>
                <div class="modal-body form-inline" id="modal_show_group_permission_content_list">

                </div>
                <div class="modal-footer">
                    <input class="btn btn-default" data-dismiss="modal" aria-hidden="true" type="button" value="确定">
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block js %}
<script>
   $(function () {
      $('#add_group').click(function () {
          $('#create_group').modal('show');
          $('#create_group_btn').click(function () {
                var group_input = $('#form_groupname');
                var group_val = group_input.val();
                $('#create_group').modal('hide');
                if (group_val == ""){
                        swal("添加失败", "用户组名不能为空", 'error');
                        return false;
                    }
                $.post('/group/add/',{'group_name':group_val},function (res) {

                    if (res.status==0){
                        swal({
                             title: "添加成功",
                             text: " ",
                             type: "success"
                        });
                        setTimeout(function () {
                            window.location.reload()
                        },200)
                    }
                    else {
                        swal({
                             title: "添加失败",
                             type: "error",
                             text: res.message
                        })
                    }
          })
      })
      }

      );
       $('.show_group_users').click(function () {
          var modal_show_group_users_content_list = $('#modal_show_group_users_content_list');

          var data = $.parseJSON($(this).attr('data'));
          var group_name = data.groupname;
          var gid = data.gid ;
          $('#modal_show_group_users_list_title').text(group_name);
          $.get('/group/groupuserlist',{'gid':gid},function (res) {
              if (res.status == 0) {
                  var data = JSON.parse(res.data);
                  //console.log(data);
                  html = '<table class="table table-striped">';
                  html += '<tr><th>用户名</th><th>email</th><th>删除</th></tr>';
                  $.each(data, function (ke, va) {
                      html += '<tr>';
                      html += '<td>' + va.fields.username + '</td><td>' + va.fields.email + '</td>';
                      html += '<td><button class="btn btn-danger btn-xs del_group_user" data="' + va.pk + '">删除</button></td>';
                      html += '</tr>'
                  });
                  html += "</table>";
                  modal_show_group_users_content_list.empty();
                  modal_show_group_users_content_list.append(html);
                  $('#modal_show_group_users_list').modal('show');
                  $('.del_group_user').click(function () {
                      var uid = $(this).attr('data');
                      var click_obj = $(this);
                      $.ajax({
                            url:"/group/groupuserdel/",
                            type: "DELETE",
                            data: {"groupid": gid, "userid": uid},
                            datatype: "json",
                            success: function(res){
                                if (res.status == 0){
                                    click_obj.parents("tr").remove();
                                    swal("操作成功", "", "success")
                                }else{
                                    swal("操作失败", res.message, "error")
                                }
                            }
                        })
                  })
              }
              else{
                  swal({
                             title: "获取失败",
                             type: "error",
                             text: res.message
                        })
              }


          });

      });
       $('.show_group_permission').click(function () {
           var modal_show_group_permission_list = $('#modal_show_group_permission_list');
           var modal_show_group_permission_content_list = $('#modal_show_group_permission_content_list');

           modal_show_group_permission_list.modal('show');
           var data = $(this).attr('data');
           $.get('/group/permissionlist',{'gid':data},function (res) {
                  html = '<table class="table table-striped">';
                  html += '<tr><th>id</th><th>权限名</th></tr>';
                  $.each(res.data, function (ke, va) {
                      html += '<tr>';
                      html += '<td>' + va.id + '</td><td>' + va.name + '</td>';
                      html += '</tr>'
                  });
                  html += "</table>";
                  modal_show_group_permission_content_list.empty();
                  modal_show_group_permission_content_list.append(html);

           })
       })

   })
</script>
{% endblock %}
